body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f8f9;
}

.container {
  max-width: 375px;
  height: 100vh;
  margin: auto;
  background: #f7f8f9;
  padding: 20px;
  box-sizing: border-box;
}

.bottom {
  display: flex;
  align-items: flex-end;
}

h1 {
  color: #1d2226;
}

p {
  color: #6c757d;
}

.primary-btn {
  width: 100%;
  background: #6c25ff;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.secondary-btn {
  width: 100%;
  background: #cebafb;
  border: none;
  padding: 14px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}