
.profile-box {
  background: white;
}

.profile-info {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.profile-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.description {
  margin-top: 20px;
  line-height: 1.6;
}