.signup-box {
  display: flex;
  flex-direction: column;
}

.signup-box h1 {
  width: 220px;
}

.signup-box input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.radio-group {
  margin-top: 10px;
}